/Figures&Data/GO_BP_CC_MF_KEGG/LCM_BP.pdf
/Figures&Data/GO_BP_CC_MF_KEGG/LCM_CC.pdf
/Figures&Data/GO_BP_CC_MF_KEGG/LCM_CTSA.pdf
/Figures&Data/GO_BP_CC_MF_KEGG/LCM_KEGG.pdf
/Figures&Data/GO_BP_CC_MF_KEGG/LCM_MF.pdf
/Figures&Data/GO_BP_CC_MF_KEGG/MF_BP.pdf
/Figures&Data/GO_BP_CC_MF_KEGG/MF_CC.pdf
/Figures&Data/GO_BP_CC_MF_KEGG/MF_CTSA.pdf
/Figures&Data/GO_BP_CC_MF_KEGG/MF_KEGG.pdf
/Figures&Data/GO_BP_CC_MF_KEGG/MF_MF.pdf
/Figures&Data/Immunological_Profile/CircularPlot_LCM_LungvsNose_nose.pdf
/Figures&Data/Immunological_Profile/CircularPlot_MF_AvsBvsC_A.pdf
/Figures&Data/Immunological_Profile/CircularPlot_MF_AvsBvsC_B.pdf
/Figures&Data/Immunological_Profile/CircularPlot_MF_AvsBvsC_C.pdf
/Figures&Data/Immunological_Profile/CircularPlot_MF_LungvsNose_lung.pdf
/Figures&Data/Immunological_Profile/CircularPlot_MF_LungvsNose_nose.pdf
/Figures&Data/Immunological_Profile/CircularPlot_LCM_AvsBvsC_A.pdf
/Figures&Data/Immunological_Profile/CircularPlot_LCM_AvsBvsC_B.pdf
/Figures&Data/Immunological_Profile/CircularPlot_LCM_AvsBvsC_C.pdf
/Figures&Data/Immunological_Profile/CircularPlot_LCM_LungvsNose_lung.pdf
/Figures&Data/Venndiagrams/LCM_DEG.csv
/Figures&Data/Venndiagrams/LCM_DEG_3groups.png
/Figures&Data/Venndiagrams/LCM_presenceabsence_3groups.png
/Figures&Data/Venndiagrams/MF_DEG.csv
/Figures&Data/Venndiagrams/MF_DEG_3groups.png
/Figures&Data/Venndiagrams/MF_presenceabsence_3groups.png
/Figures&Data/00_FACS_Visualizations_3groups/DotPlot.pdf
/Figures&Data/00_FACS_Visualizations_3groups/DotPlot_CD163_Sn.pdf
/Figures&Data/00_FACS_Visualizations_3groups/DotPlot_etc.pdf
/Figures&Data/00_FACS_Visualizations_3groups/DotPlot_MacrophageMarkers_new.pdf
/Figures&Data/00_FACS_Visualizations_3groups/DotPlot_macrophages.pdf
/Figures&Data/00_FACS_Visualizations_3groups/heatmap_AvsB.pdf
/Figures&Data/00_FACS_Visualizations_3groups/heatmap_CvsA.pdf
/Figures&Data/00_FACS_Visualizations_3groups/heatmap_CvsB.pdf
/Figures&Data/00_FACS_Visualizations_3groups/Heatmap_MF_DYgenelist.pdf
/Figures&Data/00_FACS_Visualizations_3groups/Macrophagemarkers_for_dotplot.csv
/Figures&Data/00_FACS_Visualizations_3groups/PCA.pdf
/Figures&Data/00_LCM_Visualizations_3groups/DotPlot.pdf
/Figures&Data/00_LCM_Visualizations_3groups/DotPlot_CD163_Sn.pdf
/Figures&Data/00_LCM_Visualizations_3groups/DotPlot_etc.pdf
/Figures&Data/00_LCM_Visualizations_3groups/DotPlot_MacrophageMarkers_new.pdf
/Figures&Data/00_LCM_Visualizations_3groups/DotPlot_macrophages.pdf
/Figures&Data/00_LCM_Visualizations_3groups/heatmap_AvsB.pdf
/Figures&Data/00_LCM_Visualizations_3groups/heatmap_CvsA.pdf
/Figures&Data/00_LCM_Visualizations_3groups/heatmap_CvsB.pdf
/Figures&Data/00_LCM_Visualizations_3groups/Macrophagemarkers_for_dotplot.csv
